.navbar {
  background-color: $secondary-color;
  margin-bottom: 2rem;
  .nav-link {
    font-size: 1.5rem;
  }
}

main {
  .text-underlined {
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-decoration-color: $secondary-color;
  }
  .card-title {
    font-size: 2.5rem;
  }
  section {
    margin: 2rem 2rem;
    article {
      font-family: $font-family2;
      h3 {
        margin-top: 6rem;
        margin-bottom: 3rem;
      }

      .date-article {
        font-size: 1rem;
      }
      .intro {
        margin-bottom: 3rem;
      }
      .btn {
        margin-bottom: 2rem;
      }
    }
  }
  .lead {
    max-width: 80%;
    margin-left: 3rem;
  }
  .link__contact {
    i {
      color: green;
      text-align: right;
      font-size: 3rem;
      position: fixed;
      bottom: 4rem;
      right: 0.1rem;
    }
  }
  .card {
    display: flex;
    align-items: center;
    margin: 2rem 5.5rem;
    img {
      width: 40%;
    }
  }
  .accordion {
    margin: 5rem 5.5rem;
  }

  i {
    font-size: 5rem;
    padding: 3rem;
  }

  .container-fluid {
    width: 80%;
    margin: auto;
  }

  iframe {
    width: 100%;
  }
}

footer {
  background-color: $primary-color;
  color: $third-color;
  padding-bottom: 0.5rem;

  .horarios {
    font-size: 1.5rem;
  }
}
